/*
Style: Color Example: Green
*/

/* color secondary */
.entry-comments,
.jp-play-bar, 
.jp-volume-bar-value { background-color: #d64b00; }

/* color primary */
a,
label .required,
.entry-title a:hover,
.entry-share .sharrre .box:hover .count,
.entry-browse li a:hover span,
.entry-related a:hover,
.widget a:hover,
.widget_rss ul li a,
.widget_tag_cloud .tagcloud a:hover,
.widget_calendar a,
.widget_wpb_tabs .wpb-tabs li a:hover,
.comment-awaiting-moderation,
#child-menu .current_page_item > a,
ul.tabs-nav li a.active,
.accordion .title a:hover,
.accordion .title.active a,
.toggle .title:hover,
.toggle .title.active { color: #4caa29; }

input[type="submit"],
button[type="submit"],
#nav-header.nav-container,
#footer-bottom #to-top,
.entry-tags a:hover,
.widget_calendar caption,
.widget_wpb_tabs .wpb-tabs li a.active,
.commentlist .reply a:hover,
.wp-pagenavi a:hover,
.wp-pagenavi a:active,
.wp-pagenavi span.current,
a.button { background-color: #4caa29; }

@media only screen and (min-width: 720px) {
	#nav-header .nav ul { background-color: #4caa29; }
	#nav-subheader .nav li.current_page_item > a, 
	#nav-subheader .nav li.current-menu-item > a,
	#nav-subheader .nav li.current-menu-ancestor > a,
	#nav-subheader .nav li.current-post-parent > a { color: #4caa29; }
}
@media only screen and (max-width: 719px) {
	#nav-header .nav li.current_page_item > a, 
	#nav-header .nav li.current-menu-item > a,
	#nav-header .nav li.current-post-parent > a { color: #4caa29; }
	#nav-subheader .nav li.current_page_item > a, 
	#nav-subheader .nav li.current-menu-item > a,
	#nav-subheader .nav li.current-post-parent > a { background-color: #4caa29; }
	#nav-footer .nav li.current_page_item > a, 
	#nav-footer .nav li.current-menu-item > a,
	#nav-footer .nav li.current-post-parent > a { background-color: #4caa29; }
}

ul.tabs-nav li a.active { border-top-color: #4caa29; }

::selection { background-color: #4caa29; }
::-moz-selection { background-color: #4caa29; }

.wp-pagenavi a { color: #4caa29!important; border: 1px solid #4caa29!important; border: 1px solid rgba(76,170,41, 0.3)!important; }
.wp-pagenavi a:hover,
.wp-pagenavi a:active,
.wp-pagenavi span.current { border: 1px solid #4caa29!important; }