<IfModule mod_rewrite.c>

RewriteEngine On

RewriteBase /

DirectoryIndex index.php default.php

ErrorDocument 400     /404.php 
ErrorDocument 401     /404.php 
ErrorDocument 403     /404.php 
ErrorDocument 404     /404.php
ErrorDocument 500     /404.php

#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteRule ^registration/activate/([^/\.]+)/?$			registration/activate/default.php?code=$1				[QSA,L]

RewriteRule ^mailers/view/([^/\.]+)/?$						mailers/view.php?code=$1				[QSA,L]
RewriteRule ^mailers/unsubscribe/([^/\.]+)/?$			mailers/unsubscribe.php?code=$1	[QSA,L]
RewriteRule ^mailers/tracking/([^/\.]+)/?$					mailers/tracking.php?tracking=$1	[QSA,L]
