<html>
<head>
	<title>Under 35 Mavericks</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />	
	{literal}
	<style type="text/css">
	.list a {color: #cc0000; text-transform: uppercase; font-family: Verdana; font-size: 11px; text-decoration: none;}
	</style>
	{/literal}
</head>
<body marginheight="0" topmargin="0" marginwidth="0" bgcolor="#c5c5c5" leftmargin="0">

<table cellspacing="0" border="0" style="background-image: url(http://{$host}/templates/images/bg.gif); background-color: #c5c5c5;" cellpadding="0" width="100%">
	<tr>
		<td valign="top">

			<table cellspacing="0" border="0" align="center" style="background: #fff; border: 1px solid #ccc; margin-top: 30px; margin-bottom: 30px;" cellpadding="0" width="600">
				<tr>
					<td valign="top">
						<!-- header -->
						<table cellspacing="0" border="0"  cellpadding="0" width="100%">
							<tr>
								<td class="header-text" height="50" valign="top" style="color: #999; font-family: Verdana; font-size: 10px; text-transform: uppercase; padding: 0 20px;" width="100%" colspan="2">
									<br /><br /><webversion style="color: #990000; text-decoration: none;">Under 35 Mavericks - [datetime]</webversion>
								</td>
							</tr>
							<tr>							
								<td class="main-title" height="5" align="center" valign="top" style="padding: 0 20px; font-size: 25px; font-family: Georgia;" width="100%" colspan="2">									
									<h2>Under 35 Mavericks</h2>
								</td>							
							</tr>
							<tr>
								<td height="20" valign="top" width="100%" colspan="2">
									<img src="http://{$host}/templates/images/thin-breaker.jpg" height="20" alt="" style="border: 0;" width="100%" />
								</td>
							</tr>
						</table>
						<!-- / header -->
					</td>
				</tr>
				<tr>
					<td>
						<!-- content -->
						<table cellspacing="0" border="0" cellpadding="0" width="600">
							<tr>
								<td class="content-copy" valign="top" style="padding: 0 20px; color: #000; font-size: 14px; font-family: Georgia; line-height: 20px;" colspan="2">
									<br />
									{$campaignData.campaign_content}
									<br /><br />
								</td>
							</tr>
						</table>
						<!--  / content -->
					</td>
				</tr>
				<tr>
					<td height="20" valign="top" width="100%" colspan="2">
						<img src="http://{$host}/templates/images/thin-breaker.jpg" height="20" alt="" style="border: 0;" width="100%" />
					</td>
				</tr>				
				<tr>
					<td valign="top" width="100%">
						<!-- footer -->
						<table cellspacing="0" border="0" height="100" cellpadding="0" width="100%">
							<tr>
								<td class="copyright" height="100" align="center" valign="top" style="padding: 0 20px; color: #999; font-family: Verdana; font-size: 10px; text-transform: uppercase; line-height: 20px;" width="100%" colspan="2">
									No. 23, Sir Lowry Road, Cape Town, Western Cape<br />Email: info@under35mavericks.com<br />Mobile: 081 098 0405<br /><br />
									[datetime]<br />
									<a style="text-decoration: none; color: red; font-size: 9px;" href="http://{$host}/mailers/view/[tracking]">Click here to view on browser</a>
								</td>
							</tr>
						</table>
						<!-- / end footer -->
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<img src="http://{$host}/mailers/tracking/[tracking]" height="0" alt="" width="0" />
</body>
</html>