.body-wrapper { min-width: 320px; }
.container { min-width: 0; }

@media only screen and (max-width: 1120px) {
	#page { padding-bottom: 0; }
	#page .container-inner { border-right: 0; border-left: 0; }
	#nav-subheader.nav-container  { border-right: 0; border-left: 0; }
}
@media only screen and (min-width: 960px) and (max-width: 1024px) {
	.entry-part { padding-right: 100px; }
	.entry-share { padding-right: 0; }
}

/* ------------------------------------------------------------------------- *
 *  Tablet (Common) : 1023px > 719px
/* ------------------------------------------------------------------------- */
@media only screen and (min-width: 719px) and (max-width: 960px) {

	#tagline { display: none; }
	.main.sidebar-left { background-position: -260px 0; padding-left: 80px; }
	.main.sidebar-left .sidebar { margin-left: -80px; }
	.main.sidebar-right { background-image: url(img/sidebar-right-80.png); padding-right: 80px; }
	.main.sidebar-right .sidebar { margin-right: -80px; }
	.sidebar { width: 80px; }
	.sidebar-content { display: none; float: left; width: 100%; }
	.sidebar .entry-browse { display: none; }
	
	/* sidebar expand/collapse */
	.sidebar-toggle,
	.sidebar-expand .sidebar-content,
	.sidebar-expand .sidebar .entry-browse { display: block; }
	.sidebar-collapse .sidebar-content,
	.sidebar-collapse .sidebar .entry-browse { display: none; }
	.sidebar-expand .sidebar { background: #f0f0f0; position: absolute; top: 0; bottom: 0; width: 340px; margin: 0!important; z-index: 80; overflow: auto; }
	.sidebar-expand .main.sidebar-left .sidebar { left: 0; border-right: 1px solid #ddd;
	-moz-box-shadow: 1px 0 0 rgba(255,255,255,0.4), 10px 0 10px rgba(0,0,0,0.06); 
	-webkit-box-shadow: 1px 0 0 rgba(255,255,255,0.4), 10px 0 10px rgba(0,0,0,0.06);  
	box-shadow: 1px 0 0 rgba(255,255,255,0.4), 10px 0 10px rgba(0,0,0,0.06); }
	.sidebar-expand .main.sidebar-right .sidebar { right: 0; border-left: 1px solid #ddd;
	-moz-box-shadow: -1px 0 0 rgba(255,255,255,0.4), -10px 0 10px rgba(0,0,0,0.06); 
	-webkit-box-shadow: -1px 0 0 rgba(255,255,255,0.4), -10px 0 10px rgba(0,0,0,0.06);  
	box-shadow: -1px 0 0 rgba(255,255,255,0.4), -10px 0 10px rgba(0,0,0,0.06); }
	.sidebar-expand .main.sidebar-right .sidebar-toggle { float: right; }
	.sidebar-expand .sidebar-toggle i { color: #444; }
	
	.single .entry-title { font-size: 36px; }
	
}

/* ------------------------------------------------------------------------- *
 *  Tablet (Portrait) : 768px > 719px
/* ------------------------------------------------------------------------- */
@media only screen and (min-width: 719px) and (max-width: 768px) {

	.grid { margin-right: 2.9%; }
	.content-part .hr { margin-top: 10px; }
	
	.one-half { width: 48.5%; }
	.one-third { width: 31.4%; }
	.two-third { width: 65.65%; }
	.one-fourth { width: 22.8%; }
	.three-fourth { width: 74.1%; }
	.one-fifth { width: 17.6%; }
	.two-fifth { width: 38.5%; }
	.three-fifth { width: 59%; }
	.four-fifth { width: 79.5%; }
	
	/* blog */
	.entry-browse li { width: 100%; } 
	.entry-browse li a { min-height: 0;; }
	.entry-browse li.previous a { border-right: 0; }
	.entry-related .rel-entry-title { font-size: 16px; }

	/* shortcode: google maps */
	.google-map { width: 100%!important; }
}

@media only screen and (min-width: 540px) and (max-width: 768px) {
	.content-part .home-widgets .one-half { width: 48.4%!important; margin-right: 3.2%!important; }
	.content-part .home-widgets .one-half.last { margin-right: 0!important; }
}
@media only screen and (max-width: 539px) {
	.home-widgets .widget_wpb_tabs li.wpb-thumb-enabled { min-height: 0;; }
}

/* ------------------------------------------------------------------------- *
 *  Mobile (Common) : 719px > 0px (480px)
/* ------------------------------------------------------------------------- */
@media only screen and (max-width: 719px) {

	.content,
	.content-part,
	.sidebar { width: 100%; float: none; margin-right: 0!important; margin-left: 0!important; }
	.main { background-image: none!important; padding: 0!important; }
	.grid, .content-part .grid { width: 100%; margin: 0 0 20px; }
	.hr { margin-top: 10px; }
	
	/* hide */
	#tagline,
	.mobile-sidebar-disable .sidebar,
	.ads-header,
	.ads-footer,
	.newsflash,
	.caption-bar,
	#breadcrumb { display: none; }
	
	/* base */
	.text { font-size: 14px; }
	.pad { padding: 20px 20px 10px; }
	.page-title { margin-bottom: 20px; }
	.sidebar { background: #f0f0f0; border-top: 1px solid #ddd; padding-top: 20px; width: 100%; display: block; float: none; }
	
	/* header */
	#header .pad { padding-top: 0; padding-bottom: 20px; }
	#logo { border-bottom: 1px solid #eee; padding: 30px 0; -moz-box-shadow: 0 1px 0 #fff; -webkit-box-shadow: 0 1px 0 #fff;	box-shadow: 0 1px 0 #fff; }
	#logo { width: 100%; float: none; line-height: 50px; }
	#logo a { float: none; text-align: center; }
	#logo a img { float: none; }
	.social-module { float: none; }
	#header-social {	text-align: center; }
	#header-social li { margin: 0 5px; }
	#header-search { position: absolute; top: 0; left: 0; margin: 10px 0 0 15px; }
	#header-search input.search { background-color: rgba(0,0,0,0.1); background-image: url(img/widgets/search-white@2x.png); color: #fff; border: 2px solid transparent;  }
	#header-search input.search:focus { color: #fff; border-color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
	
	/* page */
	.search .page-title span { display: inline; }
	.page-image { margin-bottom: 20px; }
	.page-image-text { margin-top: -18px; }
	.page-image-text .caption { line-height: 36px; font-size: 36px; }
	.page-image-text .description { font-size: 13px; }

	/* footer */
	#subfooter .grid { margin-bottom: 0; }
	
	/* ads */
	#header .grid.one-full { margin-bottom: 0; }
	#subfooter .grid.one-full { margin-bottom: 15px; }
	
	/* comments */
	.commentlist li { font-size: 12px; }
	.commentlist li ul li { padding-left: 10px; }
	
	/* blog */
	.entry-list { margin-left: 0; margin-right: 0;  }
	.entry-list .entry { width: 100%; }
	.entry-list .entry-row { margin-left: 0; padding-left: 0;  }
	.entry-list .entry-inner { margin-right: 0; }
	.entry-nav { margin-bottom: 20px; }
	
	.featured .entry-title { font-size: 22px; }
	.highlights .entry { width: 33.33%; }
	.highlights .entry-inner { margin-right: 20px; }
	.highlights .entry-title { font-size: 14px; letter-spacing: 0; }
	
	.content .flex-single { margin-bottom: -8px; }
	.single .entry-comments,
	.single .entry-category { margin-top: 0; }
	.single .entry-title { font-size: 32px; }
	.entry-part { padding-right: 0; }
	.entry-share { position: relative; float: left; width: auto; padding: 0; margin-top: 20px; }
	.entry-share span { text-align: left; }
	.entry-share > div { float: left; margin-right: 10px; }
	.entry-browse li { width: 100%; } 
	.entry-browse li a { min-height: 0;; }
	.entry-browse li.previous a { border-right: 0; }
	
	.entry-related li { width: 50%; }
	.entry-related li:nth-child(2) article { border-right-color: transparent; } 
	.entry-related li:nth-child(3),
	.entry-related li:nth-child(4) { display: none; }
	
	/* shortcode */
	.text hr, .hr { margin-top: 30px; margin-bottom: 30px; }
	.dropcap { font-size: 66px; }
	.google-map { width: 100%!important; }
	.pullquote-left,
	.pullquote-right { font-size: 14px; }

}

/* ------------------------------------------------------------------------- *
 *  Mobile (Portrait) : 320px
/* ------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {
	body { font-size: 12px; }
	.text { font-size: 13px; }
	.gallery-caption { display: none; }
	.pad { padding: 15px 15px 5px; }
	.page-title { margin: 5px 0 20px; }
	
	/* header */
	#logo { font-size: 32px; padding: 20px 0; }
	.social-module .social-tooltip { font-size: 22px; }
	
	/* page */
	.page-title h1,
	.page-title h2,
	.page-title h4 { font-size: 20px; }
	.page-image-text { margin-top: -12px; }
	.page-image-text .caption { line-height: 24px; font-size: 24px; }
	.page-image-text .description { font-size: 10px; }
	
	/* footer */
	#footer .widget_search input#s { width: 228px; }
	
	/* blog */
	.featured .entry-title { background: #444; font-size: 16px; letter-spacing: 0; padding-left: 15px; display: block; position: static; }
	.highlights { margin-right: -15px; }
	.highlights .entry { width: 50%; }
	.highlights .entry-inner { margin-right: 15px; }
	.highlights .entry-title { font-size: 14px; letter-spacing: 0; }
	.highlights > ul  > li:nth-child(3) { display: none; }
	
	.post-format .entry-format { margin: 15px 0 15px; }
	
	.single .entry-title { font-size: 22px; }
	.entry-meta { font-size: 12px; }
	.single .entry-meta li.date { float: none; margin: 0; clear: both; }
	
	.format-link .entry-format p,
	.format-quote .entry-format blockquote,
	.single .format-status .text { font-size: 18px; }
	.format-quote .entry-format .quote-bg,
	.format-chat .entry-format .chat-bg { padding: 5px 20px; }
	.format-link .entry-format p a { padding: 20px; }
	.format-link i { position: relative; top: -2px; }
	
	.entry-related .rel-entry-title { font-size: 14px; }
	
	/* comments */
	.commentlist li { padding-left: 0; }
	.commentlist li.comment .comment-body .avatar { display: none; }
	.commentlist li ul li { padding-left: 5px; }
	.commentlist li ul li .comment-body { padding-left: 20px; }
	.commentlist li ul li .comment-body .comment-meta { left: 20px; }
	#respond { padding: 15px 15px 20px; }
	
	/* shortcode */
	ul.tabs-nav li a { width: 85.4%; padding-left: 7%; padding-right: 7%; }
	.dropcap { font-size: 56px; }
}
